.login-container{
  position: fixed;        /* take full screen */
  top: 70px;              /* below navbar */
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;
}
  
.login-form{
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-form input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #242222;
}

.login-form button[type="submit"]{
  width: 100%;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover{
  background: #2f80ed;
}
.login-form{
  width: 350px;
  margin: auto;
  padding: 30px;
}
.register-text{
  margin-top:15px;
  text-align:center;
}

.register-link{
  color:blue;
  cursor:pointer;
  font-weight:bold;
}

.register-link:hover{
  text-decoration:underline;
}
/* Google Button */
.google-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: white;
  color: #444;

  border: 1px solid #242222;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.google-btn:hover {
  background: #f8f9fa;
}

.google-btn i {
  color: #db4437; /* Google red */
  font-size: 20px;
}

/* GitHub Button */
.github-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: white;
  color: #24292e;

  border: 1px solid #242222;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.github-btn:hover {
  background: #f8f9fa;
}

.github-btn i {
  color: #24292e; /* GitHub black */
  font-size: 22px;
}