/* CONTAINER */
.milk-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
}

/* CARD */
.milk-container .card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  background: white;
  transition: transform 0.4s;
  height: auto;

}

/* Hover effect */
.milk-container .card:hover {
  transform: scale(1.05);
}

/* Image */
.milk-container .card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
  transition: transform 0.4s;
}

/* Card body */
.milk-container .card-body {
  padding: 15px;
  background-color: white;
   display: -webkit-box;
     /* number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Text */
.milk-container .card-body h2 {
  font-size: 18px;
  margin: 5px 0;
}

.milk-container .card-body h3 {
  color: #ff5722;
  margin: 5px 0;
}

.milk-container .card-body p {
  font-size: 14px;
  color: #555;
}

/* Button */
.milk-container .cart-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.milk-container .cart-btn:hover {
  background: #e64a19;
}

/* Image hover */
.milk-container .card:hover img {
  transform: scale(1.1);
}